<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let document of data.documents">
                <td>{{document.fields.title.stringValue}}</td>
                <td>{{document.fields.description.stringValue}}</td>
                <td><span class="glyphicon glyphicon-trash" ></span></td>
            </tr>
        </tbody>
    </table>
    </div>